---
permalink: "{{ page.filePathStem }}"
lang: ru
---

# 📦 Список моих проектов ({{ projects.ru | onMain | length }}):

[//]: # ([English Version]&#40;/README.en.md&#41;)

Здесь я собрал часть своих проектов, которые не стыдно (ну может немного) показать друзьям, HR-у, маме,
бабушке, [Никите Дубко](https://github.com/MeFoDy) и другим людям :)

## 🧑 Немного о себе

Я занимаюсь программированием с 2016 года, окончил [Яндекс.Лицей](https://yandexlyceum.ru/) 2016-2018 с отличием
в своём родном городе Пенза. Участвовал в [IT-Лаборатории'2018](https://vk.com/wall-94462582_720) и победил в
[IT-Лаборатории'2020](https://secon.ru/news/161). Так же занимался разработкой сайтов
[SECOTHON](https://secothon.secon.ru), [Ассоциации SECON](https://secon.ru) и
[Конференции SECON'2021](https://2021.secon.ru).

С января 2022 года я стал мейнтенером движка для презентаций [Shower](https://shwr.me). Раннее для этого проекта я уже
делал несколько дополнений, в виде поддержки touch-устройств. Сейчас на данный проект у меня довольно много планов и я
стараюсь их воплощать в жизнь)

## 🧑‍💻 Мои главные проекты

{% for project in projects.ru | onMain | sortByDate %}
{% include 'project.njk' %}
{% endfor %}

---

## Другие проекты

Так же Вы можете ознакомится с моими другими проектами на [GitHub](https://github.com/jag-k?tab=repositories) и/или
на [отдельной странице](/other.md). 
